$color-principal: white;
$color-principal2: black;
$color1: #ddccf0;
$color2: #b299cf;
$color3: #9775bf;

$color-fondotexto: #4f2991;

$color-caja2: #721331;

$color-degrade1: #ddccf0;
$color-degrade2: #9775bf;